*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.main-container{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.container-history{
    background-color:rgb(172, 143, 202);
    width: 30vw;
    height: 100vh;
display: flex;
flex-direction: column;

}

#history{
    flex: 9;
    overflow-y: scroll;
}

.btns{
    flex: 1;
    background-color: rgb(172, 143, 202);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.container-history p:nth-child(even){
    font-size: 20px;
    padding-left: 10px;
    background-color: rgb(184, 165, 206);
}

.container-history p:nth-child(odd){
    font-size: 20px;
    padding-left: 10px;
    background-color: rgb(200, 190, 213);
}


.container-calc{
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 216, 236);
}

.big-box{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color:  rgb(85, 42, 124);
    border-radius: 8px;
}

.big-box form{
    margin: 5px;
}

div input{
    width: 385px;
    height: 80px;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 2px;
    margin-left: 3px;
    color: rgb(44, 7, 78);
    font-size: 30px;
    outline: none;
    text-align: end;
    padding-right:10px ;
    margin-bottom: 5px;
}

button{
    width: 86px;
    height: 70px;
    margin: 4px;
    background-color: rgb(214, 201, 226);
    border-radius: 8px;
    border: none;
    font-size: 25px;
}

.big-button{
    width: 184px;
}

button:hover{
    background-color:  rgb(190, 163, 216);
}

button:active{
    font-weight: bold;
    background-color:  rgb(180, 152, 206);
}

h1{
    padding: 10px;
    text-align: center;
    height:59px;
    background-color: rgb(76, 36, 113);
    color: white;
}


.clr-his{
    /* position: absolute;
    right : 45px;
    bottom: 20px; */
    width: 170px;
    height: 50px;

}

.clr-recent{
    /* position: absolute;
    right:350px;
    bottom: 20px; */
    width: 170px;
    height: 50px;
}